<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>XYZ Global Bank </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a target="_blank" href="mailto:pythonscript007@gmail.com"> pythonscript@gmail.com</a>
        <i class="fa fa-phone"></i> +91 9811259816
      </div>
      <div class="social-links float-right">
        <a href="https://twitter.com/python__script" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://medium.com/@pythonscript" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
        <a href="https://github.com/Maaz199" target="_blank" class="github"><i class="fa fa-github"></i></a>
        <a href="mailto:pythonscript007@gmail.com" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.linkedin.com/in/maazmohammed/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro-carousel" class="scrollto"> XYZ Global Bank<span> </span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro-carousel">Home</a></li>
          <li><a href="#about">About Bank</a></li>
		  <li><a href="#services">Principles</a></li>
          <li><a href="#portfolio">Advantages</a></li>
          <li><a href="#predict">Prediction</a></li>
		  <li><a href="#topbar">Contact Me</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Making <span>your ideas</span><br>happen!</h2>
          <h6>Take a loan Today<h6>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
		<a href="#predict" class="btn-projects scrollto">Predict</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('../static/img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/5.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="img/home.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Mission</h2><br>
            <h3>To provide all kind of loan at affordable prices. So, that our customers can achieve their dreams at affordable interest</h3>
			<h3>Our vision is to be one of kind where we use artificial intelligent to predict wheather to give out loan or not. Our technology have nver disappointed us...</h3>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Types of loan</h2>
          <p>Only bank on the planet earth where you can find loan for anything at resonable interest.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <ul>
              <li>Personal Loan</li>
			  <br>
              <li>Car Loan</li><br>
			  <li>Home Loan</li>
            </ul>
            </div>
          </div>
		  

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <ul>
              <li>Business Loan</li>
			  <br>
              <li>Rental Deposit Loan</li><br>
			  <li>Loan Against Property and many more</li>
            </ul>
            </div>
          </div>



        </div>

      </div>
    </section><!-- #services -->

    
    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Features</h2>
        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <ul>
              <li>Lowest interest rate then our competitors</li>
			  <br>
              <li>Loan decision throught artificial intelligent with more then 90 percent accuracy.</li><br>
			  <li>Quick and minimum paper work with guarantee to recieve your money within 24 hours after applying</li><br>
			  <li> Safest and secure bank with 286bit encryption </li>
            </ul>
            </div>
          </div>
		  

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <ul>
              <li> Excellent Interest rate is also avaible if you also open saving account with us</li>
			  <br>
              <li>Have Trust of 25 Million loyal customer world wide</li><br>
			  <li>Big ballon payments are accepted towards your loan i.e you can pay huge sum of money if you want to end your loan term early</li><br>
			  <li>Variatin in loan term is possible according to your needs</li>
            </ul>
            </div>
          </div>



        </div>
        </div>
      </div>


    </section><!-- #portfolio -->

    
    <section id="predict" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Are you eligible for the loan ?</h2>
		  
		  
			<div class="login col-lg-6">
				 <!-- Main Input For Receiving Query to our ML -->
				  <form action="/predict"method="post" id="predict">
              <div class="wow fadeInRight" style="padding-top:20px" data-wow-delay="0.8s">
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Loan Amount">Loan Amount</label>
										      <input type="number"step="100" min="1000" max="35000" class="form-control" name="Loan Amount" placeholder="Loan Amount" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Funded Amount">Funded Amount</label>
										      <input type="number"step="100" min="1000" max="35000" name="Funded Amount" class="form-control" placeholder="Funded Amount" required="required" />
                  </div>
								  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Funded Amount Investor">Funded Amount Investor</label>
										      <input type="number"step="100" min="1000" max="35000" class="form-control" name="Funded Amount Investor" placeholder="Funded Amount Investor" required="required" />
                  </div>
								  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
									    <label for="Term">Term</label>
									        <select id="inputTerm" name="Term" class="form-control">
											        <option value=36>36 Months</option>
											        <option value=58>58 Months</option>
											        <option selected value=59>59 Months</option>
										      </select>										  
                  </div> 
								  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Batch Enrolled">Batch Enrolled</label>
                          <input type="number"step="1100" min="1104812" max="5924421" class="form-control" name="Batch Enrolled" placeholder="Batch Enrolled" required="required" />
                  </div>      
								  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Interest Rate">Interest Rate</label>
                          <input type="number"step="3" min="5" max="30" class="form-control" name="Interest Rate" placeholder="Interest Rate" required="required" />
                  </div>
								  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                    <label for="Grade">Grade</label>
                          <select id="inputGrade" name="Grade" class="form-control">
                              <option value=1>A Grade</option>
                              <option value=2>B Grade</option>
                              <option value=3>C Grade</option>
                              <option value=4>D Grade</option>
                              <option value=5>E Grade</option>
                              <option value=6>F Grade</option>
                              <option selected value=7>G Grade</option>
                        </select>										  
                  </div> 
								  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Sub Grade">Sub Grade</label>
                          <select id="inputSub" name="Sub Grade" class="form-control">
                              <option value=11>A1 Sub Grade</option>
                              <option value=12>A2 Sub Grade</option>
                              <option value=13>A3 Sub Grade</option>
                              <option value=14>A4 Sub Grade</option>
                              <option value=15>A5 Sub Grade</option>
                              <option value=21>B1 Sub Grade</option>
                              <option value=22>B2 Sub Grade</option>
                              <option value=23>B3 Sub Grade</option>
                              <option value=24>B4 Sub Grade</option>
                              <option value=25>B5 Sub Grade</option>
                              <option value=31>C1 Sub Grade</option>
                              <option value=32>C2 Sub Grade</option>
                              <option value=33>C3 Sub Grade</option>
                              <option value=34>C4 Sub Grade</option>
                              <option value=35>C5 Sub Grade</option>
                              <option value=41>D1 Sub Grade</option>
                              <option value=42>D2 Sub Grade</option>
                              <option value=43>D3 Sub Grade</option>
                              <option value=44>D4 Sub Grade</option>
                              <option value=45>D5 Sub Grade</option>
                              <option value=51>E1 Sub Grade</option>
                              <option value=52>E2 Sub Grade</option>
                              <option value=53>E3 Sub Grade</option>
                              <option value=54>E4 Sub Grade</option>
                              <option value=55>E5 Sub Grade</option>
                              <option value=61>F1 Sub Grade</option>
                              <option value=62>F2 Sub Grade</option>
                              <option value=63>F3 Sub Grade</option>
                              <option value=64>F4 Sub Grade</option>
                              <option value=65>F5 Sub Grade</option>
                              <option value=71>G1 Sub Grade</option>
                              <option value=72>G2 Sub Grade</option>
                              <option value=73>G3 Sub Grade</option>
                              <option value=74>G4 Sub Grade</option>
                              <option selected value=75>G5 Sub Grade</option>
                          </select>										  
                  </div> 
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Employment Duration">Employment Duration</label>
                          <select id="inputEmployement" name="Employment Duration" class="form-control">
                              <option value=0>Mortage</option>
                              <option value=1>Own</option>
                              <option selected value=2>Rent</option>
                          </select>                     
                  </div> 
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Home Ownership">Home Ownership</label>
                          <input type="number"step="1000" min="14500" max="500000" class="form-control" name="Home Ownership" placeholder="Home Ownership" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Verification Status">Verification Status</label>
                          <select id="inputVerification" name="Verification Status" class="form-control">
                              <option value=1>Verified</option>
                              <option value=2>Source Verified</option>
                              <option selected value=0>Not Verified</option>
                          </select>                     
                  </div> 
								  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Loan Title">Loan Title</label>
                          <select id="inputLoan" name="Loan Title" class="form-control">
                              <option value=2>Personal Loan</option>
                              <option value=1>Business Loan</option>
                              <option value=3>Car Loan</option>
                              <option value=4>Home Loan</option>
                              <option selected value=0>Others</option>
                          </select>										  
                  </div> 
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Debit to Income">Debit to Income</label>
                          <input type="number"step="100" min="10" max="1000000000" class="form-control" name="Debit to Income" placeholder="Debit to Income" required="required" />
                  </div>
								  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Delinquency - two years">Delinquency - two years</label>
                          <select id="inputDelinquency" name="Delinquency - two years" class="form-control">
                              <option value=0>0</option>
                              <option value=1>1</option>
                              <option value=2>2</option>
                              <option value=3>3</option>
                              <option value=4>4</option>
                              <option value=5>5</option>
                              <option value=6>6</option>
                              <option value=7>7</option>
                              <option selected value=8>8</option>
                          </select>										  
                  </div>      
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Inquires - six months">Inquires - six months</label>
                          <select id="inputInquires" name="Inquires - six months" class="form-control">
                              <option value=0>0</option>
                              <option value=1>1</option>
                              <option value=2>2</option>
                              <option value=3>3</option>
                              <option value=4>4</option>
                              <option selected value=5>5</option>
                          </select>										  
                  </div> 
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Open Account">Open Account</label>
                          <select id="inputOpen" name="Open Account" class="form-control">
                              <option value=2>2</option>
                              <option value=3>3</option>
                              <option value=4>4</option>
                              <option value=5>5</option>
                              <option value=6>6</option>
                              <option value=7>7</option>
                              <option value=8>8</option>
                              <option value=9>9</option>
                              <option value=10>10</option>
                              <option value=11>11</option>
                              <option value=12>12</option>
                              <option value=13>13</option>
                              <option value=14>14</option>
                              <option value=15>15</option>
                              <option value=16>16</option>
                              <option value=17>17</option>
                              <option value=18>18</option>
                              <option value=19>19</option>
                              <option value=20>20</option>
                              <option value=21>21</option>
                              <option value=22>22</option>
                              <option value=23>23</option>
                              <option value=24>24</option>
                              <option value=25>25</option>
                              <option value=26>26</option>
                              <option value=27>27</option>
                              <option value=28>28</option>
                              <option value=29>29</option>
                              <option value=30>30</option>
                              <option value=31>31</option>
                              <option value=32>32</option>
                              <option value=33>33</option>
                              <option value=34>34</option>
                              <option value=35>35</option>
                              <option selected value=36>36</option>
                          </select>	
                  </div>
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Public Record">Public Record</label>
                          <select id="inputPublic" name="Public Record" class="form-control">
                              <option value=0>0</option>
                              <option value=1>1</option>
                              <option value=2>2</option>
                              <option value=3>3</option>
                              <option value=4>4</option>
                              <option selected value=5>5</option>
                          </select>										  
                  </div> 
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Revolving Balance">Revolving Balance</label>
                          <input type="number"step="10" min="0" max="150000" class="form-control" name="Revolving Balance" placeholder="Revolving Balance" required="required" />
                  </div>    
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Revolving Utilities">Revolving Utilities</label>
                          <input type="number"step="2" min="0" max="150" class="form-control" name="Revolving Utilities" placeholder="Revolving Utilities" required="required" />
                  </div>   
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Total Accounts">Total Accounts</label>
                          <input type="number"step="1" min="0" max="100" class="form-control" name="Total Accounts" placeholder="Total Accounts" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Initial List Status">Public Record</label>
                          <select id="inputInitial" name="Initial List Status" class="form-control">
                              <option value=0>W</option>
                              <option selected value=1>F</option>
                          </select>										  
                  </div>                         
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Total Received Interest">Total Received Interest</label>
                          <input type="number"step="10" min="0" max="15000" class="form-control" name="Total Received Interest" placeholder="Total Received Interest" required="required" />
                  </div> 
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Total Received Late Fee">Total Received Late Fee</label>
                          <input type="number"step="10" min="0" max="100" class="form-control" name="Total Received Late Fee" placeholder="Total Received Late Fee" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Recoveries">Recoveries</label>
                          <input type="number"step="100" min="0" max="50000" class="form-control" name="Recoveries" placeholder="Recoveries" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Collection Recovery Fee">Collection Recovery Fee</label>
                          <input type="number"step="10" min="0" max="100" class="form-control" name="Collection Recovery Fee" placeholder="Collection Recovery Fee" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Collection 12 months Medical">Collection 12 months Medical</label>
                          <select id="inputCollection" name="Collection 12 months Medical" class="form-control">
                              <option value=0>No</option>
                              <option selected value=1>Yes</option>
                          </select>										  
                  </div> 
                  <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                      <label for="Application Type">Application Type</label>
                          <select id="inputApplication" name="Application Type" class="form-control">
                              <option value="Individual">Individual Type</option>
                              <option value="Joint">Joint Type</option>
                          </select>                     
                  </div>
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Last week Pay">Last week Pay</label>
                          <input type="number"step="10" min="0" max="200" class="form-control" name="Last week Pay" placeholder="Last week Pay" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Total Collection Amount">Total Collection Amount</label>
                          <input type="number"step="100" min="1" max="20000" class="form-control" name="Total Collection Amount" placeholder="Total Collection Amount" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Total Current Balance">Total Current Balance</label>
                          <input type="number"step="100" min="500" max="10000000" class="form-control" name="Total Current Balance" placeholder="Total Current Balance" required="required" />
                  </div>
                  <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                      <label for="Total Revolving Credit Limit">Total Received Late Fee</label>
                          <input type="number"step="100" min="1000" max="10000000" class="form-control" name="Total Revolving Credit Limit" placeholder="Total Revolving Credit Limit" required="required" />
                  </div>
                  <div style="padding-top:30px;padding-left:15px;">
								      <button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-lg ">Predict</button></div>
              </div>
          </div>
     </form>
			   <br>
			   <br>
			   <div id="result">
						<div class="col-lg-12 " >
						<div style="font-size:30px;width=100%;">
						<p style="font-size:50px"><b>Eligibility: (Will visible once you fill the form)</b> </p>
						<samp>{{ prediction_text }}</samp></div>
						</div></div>

			 </div>          
        </div>
      </div>
    </section><!-- #testimonials -->
  </main>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../static/lib/sticky/sticky.js"></script>
  <script src="../static/contactform/contactform.js"></script>
  <script src="../static/js/main.js"></script>

</body>
</html>
